* {
    font-family: 'Lato';
}

body {
  background-color: #E7C507;
}

header {
  background-color: #5B6F33;
  padding: 170px;

}

.site-logo {
    font-size: 2.5em;
    float: right;
    margin-right: 0.25em;
    margin-bottom: 5em;
}

.menu-container {
    text-align: center;
    background-color:;
    margin: 0;
    padding: 0;
}


.menu-item {
    display: inline-block;
    width: windowWidth;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    color: #13100B;
    background-color: #E7C507;
    border-radius: 10px;
    border-width: 10px;
    border-style: outset;
    border-color: #373E42;

}

.menu-item:hover, .dropdown:hover {
    color: #fff;
    background-color: #654E34;
}

/* Dropdown: */
.dropdown {
    display: inline-block;
    color: #654E34;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 3px groove #27435C;
    margin: 0;
    color: #000;
    background-color: #E7C507;
    z-index: 1;
}

.dropdown-content a {
    color: #000;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Dropdown */
.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em;
    min-width: 7em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: #fff;
    background-color: #654E34;
}

main {
  background-color: #13100B;
margin-top: auto;
  padding: 200px;

}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;

}

aside {
  background-color: #654E34;
  flex: 1 1 auto;
  padding: 75px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  background-color: #5B6F33;
  padding: 75px;
}


h1 {
  font-family: 'Alegreya', serif;
  color: #13100B;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.4em;
  font-size: 60px;
}

h2 {
  font-family: 'Alegreya', serif;
  color: #E7C507;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.4em;
  font-size: 26px;
}

h3{
    font-family: 'Alegreya', serif;
    color: #5DCFA6
    text-align: center;
    letter-spacing: 0.4em;
    font-size: 26px;
}

.paragraph-1 {
  padding-left: 50px;
  justify-content: right;
  color: #E7C507;
  text-indent: 1.5em;
  font-size: 20px;
}

p {
  display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.review {
  text-align: center;
  color: #5DCFA6;
  font-style: italic;
}

div {
  display: block;
}


.pages {
  text-align: center;
  word-spacing: 60px;
}

a {
  color: #13100B;
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
}

.parent-element {
  min-height: 10em;
}

.button {
  font-size: 1em;
  color: black;
  background-color: #5B6F33;
  border-color: #5DCFA6;
  border-style: solid;
  position: relative;
  margin: auto;
  width: 9em;
  text-align: center;
}

.button:hover {
  color: #FFF7DA;
  font-style: italic;
}
