
body {
  background: url(../images/wireframe.jpg);
}

.box{
  display: flex;
  flex-wrap: wrap;


}

.box1 {
  width: 97%;
  text-align: center;
  overflow: hidden;
  margin: 1%;
  color: rgb(255,255,255);

}
/* body content */
.box1 {
  background: #7800ff;
}

.box1-Head {
font-family: 'Alegreya',serif;
}

.box1-P  {
  font-family: 'Lato',sans-serif;

}

.box2 {
  width: 97%;
  text-align: center;
  overflow: hidden;
  margin: 1%;
    background:#3784f9;

}

.box2-Head {
  font-family: 'Alegreya',serif;
}
.box2-P {
  font-family: 'Lato',sans-serif;
}

.box3 {
  width: 97%;
  text-align: center;
  overflow: hidden;
  margin: 1%;
  background: #7cff5d;
  color: rgb(0,0,0);
  }

.box3-Head {
  font-family: 'Alegreya',serif;
}

.box3-P{
    font-family: 'Lato',sans-serif;
    font-style: italic;
    font-weight: bold;

}

.box4-Head {

  font-family: 'Alegreya',serif;
}

.box4-P {
  font-family: 'Lato',sans-serif;
}
.box4 {
  width: 97%;
  text-align: center;
  overflow: hidden;
  margin: 1%;
    background: #ff6a83;


}
@media (min-width: 700px) {
  .box2 {
    width: 28%;
  }
  .box3{
    width: 67%;

  }

}
